<a href="https://colab.research.google.com/github/AUSTIN-OMONDI/Austoo/blob/main/Preprocessing_Daily_Food_Nutrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Load the Data

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('daily_food_nutrition_dataset.csv')

##2. Inspect the Data

In [4]:
# Display the first few rows
(df.head())

         Date  User_ID       Food_Item Category  Calories (kcal)  Protein (g)  \
0  2024-09-11      496            Eggs     Meat              173         42.4
1  2024-12-17      201           Apple   Fruits               66         39.2
2  2024-06-09      776  Chicken Breast     Meat              226         27.1
3  2024-08-27      112          Banana   Fruits              116         43.4
4  2024-07-28      622          Banana   Fruits              500         33.9

   Carbohydrates (g)  Fat (g)  Fiber (g)  Sugars (g)  Sodium (mg)  \
0               83.7      1.5        1.5        12.7          752
1               13.8      3.2        2.6        12.2          680
2               79.1     25.8        3.2        44.7          295
3               47.1     16.1        6.5        44.1          307
4               75.8     47.0        7.8        19.4          358

   Cholesterol (mg)  Meal_Type  Water_Intake (ml)
0               125      Lunch                478
1                97      Lunch                466
2               157  Breakfast                635
3                13      Snack                379
4               148      Lunch                471

In [5]:
# Get summary information
(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   User_ID            10000 non-null  int64
 2   Food_Item          10000 non-null  object
 3   Category           10000 non-null  object
 4   Calories (kcal)    10000 non-null  int64
 5   Protein (g)        10000 non-null  float64
 6   Carbohydrates (g)  10000 non-null  float64
 7   Fat (g)            10000 non-null  float64
 8   Fiber (g)          10000 non-null  float64
 9   Sugars (g)         10000 non-null  float64
 10  Sodium (mg)        10000 non-null  int64
 11  Cholesterol (mg)   10000 non-null  int64
 12  Meal_Type          10000 non-null  object
 13  Water_Intake (ml)  10000 non-null  int64
dtypes: float64(5), int64(5), object(4)
memory usage: 1.1+ MB

In [6]:
# Get statistical summary
(df.describe())

,User_ID,Calories (kcal),Protein (g),Carbohydrates (g),Fat (g),Fiber (g),Sugars (g),Sodium (mg),Cholesterol (mg),Water_Intake (ml)
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,498.706300,327.693900,25.523050,52.568550,25.43735,4.986940,25.052570,497.969000,151.886600,554.353600
std,289.123477,158.194716,14.131993,27.387152,14.14532,2.864984,14.480605,287.988001,87.360643,260.977642
min,1.000000,50.000000,1.000000,5.000000,1.00000,0.000000,0.000000,0.000000,0.000000,100.000000
25%,245.000000,190.000000,13.200000,28.800000,13.30000,2.500000,12.500000,249.750000,76.000000,327.000000
50%,492.000000,328.000000,25.500000,52.800000,25.30000,5.000000,25.000000,495.000000,153.000000,555.500000
75%,748.000000,464.000000,37.700000,76.400000,37.60000,7.500000,37.700000,749.000000,228.000000,783.000000
max,1000.000000,600.000000,50.000000,100.000000,50.00000,10.000000,50.000000,1000.000000,300.000000,1000.000000

##3. Handle Missing Values

In [7]:
df.isnull().sum()

Date                 0
User_ID              0
Food_Item            0
Category             0
Calories (kcal)      0
Protein (g)          0
Carbohydrates (g)    0
Fat (g)              0
Fiber (g)            0
Sugars (g)           0
Sodium (mg)          0
Cholesterol (mg)     0
Meal_Type            0
Water_Intake (ml)    0
dtype: int64

##4. Handle Duplicates

In [8]:
df.duplicated().sum()

0

##Convert Data Types

In [9]:
# Convert 'Category' to categorical type
df['Category'] = df['Category'].astype('category')

##6. Encode Categorical Variables

In [10]:
# One-hot encoding for 'Category'
df = pd.get_dummies(df, columns=['Category'], drop_first=True)

##7. Normalize or Scale Numerical values

In [11]:
from sklearn.preprocessing import StandardScaler

# Standardize numerical columns
scaler = StandardScaler()
numerical_cols = ['Calories (kcal)', 'Protein (g)', 'Carbohydrates (g)', 'Fat (g)', 'Fiber (g)', 'Sugars (g)', 'Sodium (mg)', 'Cholesterol (mg)', 'Water_Intake (ml)']
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

##8. Feature Scalling

In [12]:
# Example: Create a new feature 'Total_Nutrients' as the sum of Protein, Carbs, and Fat
df['Total_Nutrients'] = df['Protein (g)'] + df['Carbohydrates (g)'] + df['Fat (g)']

##9. Split the Data

In [13]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X = df.drop('Calories (kcal)', axis=1)  # Features
y = df['Calories (kcal)']  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

##10. Save the Preprocessed Data

In [14]:
#This allows you to reuse the preprocessed data without repeating the preprocessing steps.
# Save the preprocessed data
df.to_csv('preprocessed_daily_food_nutrition_dataset.csv', index=False)